//
   Created by kc on 03.06.15.

extends Layout

block content
  h1 Ferropoly - diese Seite wird dann mal noch schöner :-)
  h2 Hilfe & Infos
  | Hilfe zur Software wie auch ein Kontaktformular und weitere Infos zum Spiel sind auf der Webseite &nbsp;
  a(href='http://www.ferropoly.ch') www.ferropoly.ch
  | &nbsp; zu finden.
  p Todo: Version der App hier anzeigen
  h2 Nutzungsbedingungen
  | Die Nutzung dieser Software unterliegt den AGB, welche bei der Anmeldung zu diesem Dienst akzeptiert wurden und auf&nbsp;
  a(href='http://www.ferropoly.ch') www.ferropoly.ch
  | &nbsp;publiziert sind.
  p Eine gewerbliche Benutzung der Software (Organisation von Spielen gegen Vergütung über den effektiven Spesen) ist ohne ausdrückliche Genehmigung des Autors explizit untersagt.
