// Success Modal Templates
#modal-success.modal.modal-message.modal-success.fade(style='display: none;', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        i.glyphicon.glyphicon-check
      #mod-success-title.modal-title
      #mod-success-body.modal-body
      .modal-footer
        #mod-success-btn.button.btn.btn-success(type='button', data-dismiss='modal') OK
    // / .modal-content
  // / .modal-dialog
// End Success Modal Templates
// Info Modal Templates
#modal-info.modal.modal-message.modal-info.fade(style='display: none;', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        i.fa.fa-envelope
      #mod-info-title.modal-title
      #mod-info-body.modal-body
      .modal-footer
        #mod-info-btn.button.btn.btn-info(type='button', data-dismiss='modal') OK
    // / .modal-content
  // / .modal-dialog
// End Info Modal Templates
// Danger Modal Templates
#modal-danger.modal.modal-message.modal-danger.fade(style='display: none;', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        i.glyphicon.glyphicon-fire
      .modal-title
      .modal-body
      .modal-footer
        button.btn.btn-danger(type='button', data-dismiss='modal') OK
    // / .modal-content
  // / .modal-dialog
// End Danger Modal Templates
// Error Modal Templates
#modal-error.modal.modal-message.modal-error.fade(style='display: none;', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        i.glyphicon.glyphicon-fire
      #mod-error-title.modal-title
      #mod-error-body.modal-body
      .modal-footer
        #mod-error-btn.button.btn.btn-danger(type='button', data-dismiss='modal') OK
    // / .modal-content
  // / .modal-dialog
// End Danger Modal Templates
// Error Modal Templates
#modal-warning.modal.modal-message.modal-warning.fade(style='display: none;', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        i.fa.fa-warning
      .modal-title Warning
      .modal-body Is something wrong?
      .modal-footer
        button.btn.btn-warning(type='button', data-dismiss='modal') OK
    // / .modal-content
  // / .modal-dialog
// End Danger Modal Templates
