extends layout

block head
  script(src='/moment/moment.min.js')
  script(src='/moment/de.js')
  script(src='/js/indexmctrl.js')
  link(rel='stylesheet', href='/css/index.css',  type='text/css')

block navbar-right
  li
    a(href='/about') Hilfe / Info

block content
  div(ng-app='indexApp' ng-controller='indexCtrl' ng-cloak)
    .row
      .col-md-12
        h1 Hallo
          = ' ' + user.personalData.forename + ' ' + user.personalData.surname
        p In dieser App kannst Du deine im Editor erstellten Spiele anschauen und in das Geschehen eines Deiner aktuellen Spiele eingreifen.
        h2 Meine Spiele
        div(ng-show='gameplays.length === 0' ng-cloak)
          | Du hast noch keine Spiele.&nbsp;
          a(href='http://editor-ferropoly.rhcloud.com') Im Ferropoly Editor ein neues Spiel anlegen.
          
        div(ng-show='gameplays.length > 0' ng-cloak)
          .row
            div.col-xs-12.col-sm-6.col-md-4(data-ng-repeat='gameplay in gameplays')
                .panel.panel-default
                  .panel-heading
                    h3.panel-title {{gameplay.gamename}}
                  .panel-body
                    p Spieldatum: {{gameplay.scheduling.gameDate | date:'d.M.yyyy'}}
                    p Karte: {{gameplay.internal.map.toUpperCase()}}
                    p Erstellt: {{gameplay.log.created | date:'d.M.yyyy H:mm'}}
                    p(ng-show='gameplay.log.priceListVersion > 0') Preisliste: {{gameplay.log.priceListCreated | date:'d.M.yyyy H:mm'}}
                      div(ng-show='gameplay.internal.finalized') Preisliste ist finalisiert
                    div(ng-hide='gameplay.internal.finalized')
                      .alert.alert-danger Das Spiel wurde noch nicht finalisiert! Bitte im Editor unter 'Preisliste' erledigen.
                    div(ng-show='gameplay.internal.finalized')
                      p
                        a.btn.btn-default.btn-sm(href='/info/{{gameplay.internal.gameId}}') Preislistenansicht
                        | &nbsp;
                        a.btn.btn-default.btn-sm(href='/reception/{{gameplay.internal.gameId}}' ng-show='gameplay.internal.finalized && (isGameRunning(gameplay) === 0)') Spiel administrieren
                        a.btn.btn-default.btn-sm(href='/reception/{{gameplay.internal.gameId}}' ng-hide='gameplay.internal.finalized && (isGameRunning(gameplay) === 0)') Spiel ansehen
                    p(class='gameplay-id') ID: {{gameplay.internal.gameId}}
                  .panel-footer
                    p {{getGpInfo(gameplay)}}



