//
  Modal for accepting AGB
button#agb-trigger.btn(data-toggle='modal' data-target='#agb-modal')
.modal.fade(id="agb-modal" tabindex="-1" role="dialog" aria-labelledby="agbModalLabel" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        h4(id='deleteModalLabel') Ferropoly AGBs
      .modal-body
        p F체r die Benutzung dieser Software muss den Ferropoly AGBs zugestimmt werden. Diese sind unter&nbsp;
          a(href='http://www.ferropoly.ch/agb/' target='_blank') http://www.ferropoly.ch/agb/
          | &nbsp; im Detail einsehbar.
        p Zusammengefasst geht es darin um:
        ul
          li Die Verwendung Deiner Daten, welche bei der Benutzung der Software anfallen
          li Die Verwendung dieser Software f체r kommerzielle Spiele
          li Wer die Risiken bei der Benutzung dieser Software tr채gt
        p
        p(ng-show='agb.agbUpdated') Die bereits von Dir akzeptierten AGBs wurden angepasst, deshalb ist eine erneute Best채tigung notwendig.

      .modal-footer
        button(type="button" class="btn btn-primary" ng-click='acceptAgb()' data-dismiss="modal") Akzeptieren
        button(type="button" class="btn btn-default" ng-click='declineAgb()' data-dismiss="modal") Ablehnen
