extends layout

block head
  script
    | var teams =
    != teams
    | ;
    | var gp =
    != gameplay
    | ;
    | var pl =
    != pricelist
    | ;
    | var err = "
    = err
    | ";
    | var err2 = "
    = err2
    | ";
  script(src='/moment/moment.min.js')
  script(src='/lodash/lodash.min.js')
  script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyClFIdi03YvYPvLikNwLSZ748yw1tfDVXU&sensor=TRUE')
  script(src=ngFile)
  link(rel='stylesheet', href='/css/index.css',  type='text/css')
  link(rel='stylesheet', href='/css/info.css', type='text/css')

block navbar
    li
      a(href='#info' onclick="showPanel('#p1');") Info
    li
      a(href='#list' onclick="showPanel('#p2');") Preisliste
    li
      a(href='#map' onclick="showPanel('#p3');") Karte

block content
  div(ng-app='infoApp' ng-controller='infoCtrl')
    div(id='ps')
      include info-loading
    div(id='p0' ng-cloak)
      include info-error
    div(id='p1' ng-cloak)
      include info-main
    div(id='p2' ng-cloak)
      include info-list
    div(id='p3' ng-cloak)
      include info-map
    script
      | console.log(gp);


