extends layout

block head
  script
    | var teams =
    != teams
    | ;
    | var gp =
    != gameplay
    | ;
    | var pl =
    != pricelist
    | ;
  script(src='/modules/moment/min/moment.min.js')
  script(src='/modules/moment/locale/de.js')
  script(src='/modules/lodash/dist/lodash.min.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyClFIdi03YvYPvLikNwLSZ748yw1tfDVXU')
  script(src=ngFile)
  link(rel='stylesheet', href='/css/index.css',  type='text/css')
  link(rel='stylesheet', href='/css/info.css', type='text/css')

block navbar
    li
      a(href='#info' onclick="showPanel('#p1');") Info
    li
      a(href='#list' onclick="showPanel('#p2');") Preisliste
    li
      a(href='#map' onclick="showPanel('#p3');") Karte

block content
  div(ng-app='infoApp' ng-controller='infoCtrl')
    div(id='ps')
      include info/info-loading
    div(id='p0' ng-cloak)
      include info/info-error
    div(id='p1' ng-cloak)
      include info/info-main
    div(id='p2' ng-cloak)
      include info/info-list
    div(id='p3' ng-cloak)
      include info/info-map
    script
      | console.log(gp);


