doctype html
html(lang='de')
  head
    title= title
    meta(name='keywords' content='Ferropoly, SBB, ZVV, Spiel, Christian Kuster')
    meta(name='description' content='Ferropoly ist ein Spiel auf dem Schweizer Eisenbahnnetz.')
    meta(charset='UTF-8')
    meta(name='author' content='Christian Kuster, CH-8342 Wernetshausen, www.kusti.ch')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css',  type='text/css' )
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css',  type='text/css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans',  type='text/css')
    link(rel='stylesheet', href='/css/ferropoly.css',  type='text/css')
    script(src='/jquery/jquery-2.1.3.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/angular/angular.js')

  body
    nav.navbar.navbar-inverse.navbar-navbar-fixed-top
      .container-fluid
        .navbar-header
          button(type='button' data-target='#navbarCollapse' data-toggle='collapse' class='navbar-toggle')
            span(class='icon-bar')
            span(class='icon-bar')
            span(class='icon-bar')
          a(href='/' class='navbar-brand') Ferropoly
        .collapse.navbar-collapse#navbarCollapse
          ul.nav.navbar-nav
            li
              a(href='#') Menu 1
            li
              a(href='#') Menu 1
            li
              a(href='#') Menu 1
            block navbar

          ul.nav.navbar-nav.navbar-right
            block navbar-right
            if !hideLogout
              li
                a(href='/logout') Logout
            else if showSignUp
              



    block content
