extends layout

block head
  link(rel='stylesheet', href='/css/login.css')
  script(src='/js/loginctrl.js')
  script.
    $(document).ready(function () {
      var i = (new Date().getSeconds() % 8) + 1;
      $('body').addClass('bg' + i);
    });

block navbar-right
  li
    a(href='http://www.ferropoly.ch') Impressum / Kontakt

block content

  .login-box.ls-box-shape(ng-controller='loginCtrl' ng-app='loginApp')
    h3 Ferropoly Spiel Login
    #login-with-password(ng-show='passwordLogin')
      p Das Login mit Passwort ist nicht empfohlen. Falls Du das dennoch willst, dann melde Dich in der Ferropoly Editor-App an.
      form(action='login' method='post')
        label(for='inputUserName' class='sr-only') Benutzername
        input(type='text' name='username' id='inputUserName' class='form-control' placeholder='Benutzername' required autofocus)
        label(for='inputPassword' class='sr-only') Passwort
        input(type='password' name='password' id='inputPassword' class='form-control' placeholder='Passwort' required)
        br
        button#button-login.btn.btn-lg.btn-primary.btn-block(type='submit') Login
        //a#button-signup.btn.btn-success.btn-block(href='/signup') Login erstellen
      br
      button.btn.btn-xs.btn-default.btn-block(ng-click='passwordLogin = false') Login mit Social Networks
    #login-with-social-networks(ng-hide='passwordLogin')
      a#button-facebook.btn.btn-lg.btn-primary.btn-block(href='/auth/facebook')
        i.fa.fa-facebook-official
        | &nbsp;Login mit Facebook
      a#button-google.btn.btn-lg.btn-danger.btn-block(href='/auth/google')
        i.fa.fa-google-plus
        | &nbsp;Login mit Google
      a#button-dropbox.btn.btn-lg.btn-primary.btn-block(href='/auth/dropbox')
        i.fa.fa-dropbox
        | &nbsp;Login mit Dropbox
      button.btn.btn-sm.btn-block(ng-click='passwordLogin = true')
        | Login mit Passwort
    br
    .row
      .col-md-3.col-xs-3
        a(href='http://www.google.com/chrome/')
          img(src='images/google-chrome-icon.png')
      .col-md-9.col-xs-9
        | Diese Anwendung ist für den Chrome-Browser optimiert. Mit anderen Browsern können Probleme auftreten.

    if preview
      .row
        .col-md-12
          h1 !!! PREVIEW !!!
          p Dies ist der Entwicklungstand und nicht die freigegebene Version. Benutzung auf eigene Gefahr!
