extends layout

block head
  link(rel='stylesheet', href='/css/login.css')
  script.
    $(document).ready(function () {
      var i = (new Date().getSeconds() % 8) + 1;
      $('body').addClass('bg' + i);
    });

block navbar-right
  li
    a(href='http://www.ferropoly.ch') Impressum / Kontakt

block content

  .login-box.ls-box-shape
        form(action='login' method='post')
          h3 Ferropoly Spiel Login
          label(for='inputUserName' class='sr-only') Benutzername
          input(type='text' name='username' id='inputUserName' class='form-control' placeholder='Benutzername' required autofocus)
          p
          label(for='inputPassword' class='sr-only') Passwort
          input(type='password' name='password' id='inputPassword' class='form-control' placeholder='Passwort' required)
          p
          button(class='btn btn-lg btn-primary btn-block' type='submit') Login
          br
          .row
            .col-xs-2.col-md-3
              a(href='http://www.google.com/chrome/')
                img(src='images/google-chrome-icon.png')
            .col-xs-10.col-md-9
              | Diese Anwendung ist für den Chrome-Browser optimiert. Mit anderen Browsern können Probleme auftreten.

          if preview
            .row
              h1 !!! PREVIEW !!!
              p Dies ist der Entwicklungstand und nicht die freigegebene Version. Benutzung auf eigene Gefahr!
