//
   Created by kc on 16.05.15.

h1 Anruf bearbeiten
h2 Bitte anrufendes Team auswählen

.row
  .col-md-3(ng-repeat='t in teams | orderBy:"data.name"')
    .panel.panel-default
      .panel-heading
        h3.panel-title {{t.data.name}}
          font#color-tag(color='{{getTeamColor(t.uuid)}}') &#9608;&#9608;
      .panel-body
        p {{t.data.organization}}
        details
          p {{t.data.teamLeader.name}}
          p
            a(href='tel:{{t.data.teamLeader.phone}}') {{t.data.teamLeader.phone}}
          p
            a(href='mailto:{{t.data.teamLeader.email}}') {{t.data.teamLeader.email}}
          p {{t.data.remarks}}
        p
        button.btn.btn-primary(href='#' ng-click="preselectTeam(t)" data-toggle="modal" data-target="#confirmTeam") Anruf bearbeiten



