//
   Created by kc on 10.05.15.
extends layout

block head
  script(src='/moment/moment.min.js')
  script(src='/lodash/lodash.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/js/reception/ferropoly-socket.js')
  script
    | var ferropoly = { authToken:"
    != authToken
    | ", teams :
    != teams
    | , user :"
    != user
    | ", gp :
    != gameplay
    | , pl :
    != pricelist
    | , err :"
    = err
    | ", err2 :"
    = err2
    | "};
    | console.log(ferropoly.teams);
