//
   Created by kc on 28.05.15.
div(ng-controller='dashboardCtrl')
  h1 Übersicht

  .row
    .col-md-4
      .panel.panel-default
        .panel-heading
          h3.panel-title Aktuelle Rangliste
            a.fa.fa-download.button-right-1(href='/download/rankinglist/#{gameId}')
            i.fa.fa-refresh.button-right-0(ng-click='refreshRankingList()')
        .panel-body
          div(ng-hide='rankingListLoaded')
            p Einen Moment bitte, die Rangliste wird geladen...
          div(ng-show='(rankingList.length === 0) && rankingListLoaded' ng-cloak)
            p Es gibt noch keine Buchungen, deshalb kann die Rangliste nicht dargestellt werden.
          table.table(ng-show='rankingList.length' ng-cloak)
            tr(ng-repeat='t in rankingList | orderBy:"rank"')
              td {{t.rank}}
              td {{t.teamName}}
              td {{t.asset}}

    .col-md-4
      .panel.panel-default
        .panel-heading
          h3.panel-title Verkehrsinfo
            i.fa.fa-refresh.button-right-0(ng-click='updateTrafficInfo()')
        .panel-body(ng-cloak)
          div(ng-show='trafficInfoLoaded')
            table.table
              tr(ng-repeat='t in trafficInfo')
                td {{t.title}}
            a.btn.btn-default.btn-xs(role='button' href='#' onclick="showPanel('#panel-traffic');") Alle Infos
          div(ng-hide='trafficInfoLoaded')
            p Die Verkehrsmeldungen werden geladen...

    .col-md-4
      .panel.panel-default
        .panel-heading
          h3.panel-title Spielinfo
        .panel-body
          table.table
            tr
              td Spieldatum
              td {{gp.scheduling.gameDate | date:'d.M.yyyy'}}
            tr
              td Spielstart
              td {{gp.scheduling.gameStart}}
            tr
              td Spielende
              td {{gp.scheduling.gameEnd}}
            tr
              td Dauer einer Spielrunde
              td {{gp.gameParams.interestInterval}} min
            tr
              td Startgeld pro Runde
              td {{gp.gameParams.interest}}
            tr
              td Guthaben zu Spielbeginn
              td {{gp.gameParams.startCapital}}
            tr
              td Zinsrunden bei Spielende
              td {{gp.gameParams.interestCyclesAtEndOfGame}}
            tr
              td Strafzins bei negativem Vermögen
              td {{gp.gameParams.debtInterest}} %

