//
   Created by kc on 17.05.15.

// Build Houses
.col-md-3
  .panel.panel-default
    .panel-heading
      h3.panel-title Häuser bauen & Gambling
    .panel-body
      button.btn.btn-default(type="button"  ng-click="buyHouses()") Häuser bauen

