//
   Created by kc on 10.05.15.
extends layout

block head
  script(src='/moment/moment.min.js')
  script(src='/lodash/lodash.min.js')
  script(src='/socket.io/socket.io.js')
  script
    | var receptionPanels = [ '#panel-main', '#panel-managecall', '#panel-teamaccounts' ];
    | var socketUrl = "
    != socketUrl
    | ";
  script
    | var ferropoly = { authToken:"
    != authToken
    | ", teams :
    != teams
    | , user :"
    != user
    | ", gameplay :
    != gameplay
    | , pricelist :
    != pricelist
    | , err :"
    = err
    | ", err2 :"
    = err2
    | "};
    | console.log(ferropoly.teams);
  script(src='/js/reception/reception-framework.js')
  script(src='/js/reception/ferropoly-socket.js')
  script(src='/js/reception/datastore.js')
  script(src='/js/reception/activecall.js')
  script(src='/js/reception/teamaccountsCtrl.js')
  script(src='/js/reception/managecallCtrl.js')
  script(src='/js/reception/dashboardCtrl.js')
  link(rel='stylesheet', href='/css/reception.css', type='text/css')
  link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css', type='text/css')

block navbar
  li
    a(href='#dashboard' onclick="showPanel('#panel-main');") Übersicht
  li
    a(href='#managecall' onclick="showPanel('#panel-managecall');") Anruf behandeln
  li
    a(href='#kontobuch' onclick="showPanel('#panel-teamaccounts');") Kontobuch

block navbar-right
  li#online online
  li#offline offline

block content
  #active-call.alert.alert-danger(role="alert" onclick="showPanel('#panel-managecall');") Anruf ist aktiv. Bitte unter "Anruf behandeln" beenden.

  div(ng-app='ferropolyApp')
    #panel-main
      include reception-main
    #panel-managecall
      include reception-mc
    #panel-teamaccounts
      include reception-teamaccounts
