//
   Created by kc on 16.05.15.

.modal.fade(id="confirmTeam" tabindex="-1" role="dialog" aria-labelledby="confirmTeamLabel" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h2(id='confirmTeamLabel') Team bestätigen
      .modal-body
        p Bitte bestätigen, dass das folgende Team bearbeitet werden soll:
        p
        h3 {{preselectedTeam.data.name}}
        h4 {{preselectedTeam.data.organization}}
        p
        p Möglichkeiten:
        ul
          li Mit "Bearbeiten" wird ein normaler Anruf eingeleitet, d.h. Chance/Kanlzei wird ausgeführt
          li Mit "Nachtrag" kann ein unterbrochener Anruf fortgesetzt werde, Chance/Kanlzei wird nicht ausgeführt
          li Mit "Abbrechen" verlässt Du diesen Dialog ohne weitere Aktionen
        p
        p Was willst Du tun?
      .modal-footer
        button(type="button" class="btn btn-primary" ng-click='confirmTeam(true)' data-dismiss="modal") Bearbeiten
        button(type="button" class="btn btn-default" ng-click='confirmTeam(false)' data-dismiss="modal") Nachtrag
        button(type="button" class="btn btn-default" data-dismiss="modal") Abbrechen
