//
   Created by kc on 16.05.15.

h1 {{selectedTeam.data.name}}

.row
  include reception-managecall-main-buyproperty
  include reception-managecall-main-properties
  include reception-managecall-main-gambling
  include reception-managecall-main-accountinfo
    
button(type="button" class="btn btn-default" ng-click="finishCall()") FERTIG (Provisorischer Button)
