//
   Created by kc on 28.05.15.
div(ng-controller='dashboardCtrl' ng-cloak)
  h1 Übersicht

  .row
    .col-md-4
      .panel.panel-default
        .panel-heading
          h3.panel-title Aktuelle Rangliste
            a.fa.fa-download.button-right-1(href='/download/rankinglist/#{gameId}')
            i.fa.fa-refresh.button-right-0(ng-click='refreshRankingList()')
        .panel-body
          div(ng-hide='rankingListLoaded')
            p Einen Moment bitte, die Rangliste wird geladen...
          div(ng-show='(rankingList.length === 0) && rankingListLoaded')
            p Es gibt noch keine Buchungen, deshalb kann die Rangliste nicht dargestellt werden.
          table.table(ng-show='rankingList.length')
            tr(ng-repeat='t in rankingList | orderBy:"rank"')
              td {{t.rank}}
              td {{t.teamName}}
              td {{t.asset}}

