//
   Created by kc on 17.05.15.

// Buy a place
.col-md-5
  .panel.panel-default
    .panel-heading
      h3.panel-title Liegenschaft kaufen
    .panel-body
      input(type="text" placeholder="Zürich Paradeplatz" ng-model="propertyQuery" ng-change="runPropertyQuery()" maxlength="30")

      table.table.table-hover
        thead
          th Ort
          th Preis
          th
        tbody
          tr(ng-repeat='p in propertyQueryResult | orderBy:"location.name"')
            td {{p.location.name}}
            td {{p.pricelist.price}}
            td
              button.btn.btn-default(type="button" data-toggle="modal" data-target="#confirmBuy" ng-click="setPropertyInvestCandidate(p)") kaufen

