//
   Created by kc on 10.05.15.
extends layout

block head
  script(src='/moment/moment.min.js')
  script(src='/lodash/lodash.min.js')
  script(src='/socket.io/socket.io.js')
  script
    | var socket = io.connect();
    |  socket.on('news', function (data) {
    |  console.log(data);
    |  socket.emit('my other event', { my: 'data' });
    |  });
  script
    | var ferropoly = { authToken:"
    != authToken
    | ", teams :
    != teams
    | , gp :
    != gameplay
    | , pl :
    != pricelist
    | , err :"
    = err
    | ", err2 :"
    = err2
    | "};
    | console.log(ferropoly.teams);
