//
   Created by kc on 07.04.16.
extends layout

block head
  script
    | var teamId = '
    != teamId
    | '; var gameId ='
    != gameId
    | ';
  script(src=ngFile)
  link(rel='stylesheet', href='/css/team.css')

block content
  div(ng-app='teamApp' ng-controller='teamCtrl')
    include team-modal-delete

    .container-fluid(ng-cloak)
      .row
        .col-md-12
          h1 Team Mitglieder
          p Hier kannst Du Deine Kollegen zum Team hinzufügen. Diese haben vollen Zugriff auf das Spiel, können aber keine weiteren Mitglieder einladen.
          p
            i#important-sign.fa.fa-bolt
            span WICHTIG: erfasse nur Personen, welche beim Spiel auch wirklich dabei sind: Die Position der Spieler wird während dem Spiel erfasst, es könnte sonst zu einem "Gruppe geteilt Alarm" in der Zentrale kommen.
      .row
        .col-xs-12.col-sm-12.col-md-12
          .panel.panel-default
            .panel-heading
              h3.panel-title Mitglied hinzufügen
            .panel-body
              .form-inline
                .form-group
                  label(for='login') Login-Name:&nbsp;
                  input#login.form-control(type='text' placeholder='name@domain.ch' ng-model='newMember')
                  | &nbsp;
                  button.btn.btn-default(ng-click='addMember()') hinzufügen
                  .well.well-sm.well-ok#info-ok(ng-show='successMessage') {{successMessage}}
                  .well.well-sm.well-error#info-error(ng-show='errorMessage') {{errorMessage}}
       .row
         .col-xs-12.col-sm-12.col-md-12
           .panel.panel.panel-default
             .panel-heading
               h3.panel-title Team-Mitglieder
             .panel-body
               #no-teams(ng-show='!members.length')
                 p Bisher wurden noch keine Team-Mitglieder erfasst.
               #team-list(ng-show='members.length')
                 table.table
                   thead
                     tr
                       th Login
                       th Name
                       th Avatar
                       th Löschen
                   tbody
                     tr(ng-repeat='m in members')
                       td {{m.login}}
                       td
                         span(ng-show='!m.personalData') Dieser Benutzer hat noch kein Login
                         span(ng-show='m.personalData') {{m.personalData.forename}} {{m.personalData.surname}}
                       td
                         span(ng-show='m.personalData')
                           img(ng-src='{{m.personalData.avatar}}')
                       td
                         i.delete-user.fa.fa-trash(data-toggle="modal" data-target="#delete-modal" ng-click='deleteMember(m)')


