//
   Created by kc on 10.05.15.
extends layout

block head
  script(src='/moment/moment.min.js')
  script(src='/lodash/lodash.min.js')
  script(src='/bootcards/js/bootcards.min.js')
  script(src=ngFile)
