// The timeline chart
   Created by kc on 12.12.15.
.col-sm-12.col-md-12.col-lg-12
  .panel.panel-default
    .panel-heading
      h3.panel-title Vermögensverlauf
    .panel-body
      .chart-area
        #stats-possession-timeline-chart
