//
   Created by kc on 31.05.15.
#stats-main(ng-cloak)

  div#ferrostats-ctrl(ng-controller='ferrostatsCtrl')
    div(role='tabpanel')
      ul.nav.nav-tabs(role='tablist')
        li#tab-buy.active(role='presentation')
          a(href='#' aria-controls='stats-possessions' role='tab' data-toggle='tab' ng-click='showStatsPanel("stats-possessions")') Vermögen
        li#tab-possessions(role='presentation')
          a(href='#' aria-controls='stats-income' role='tab' data-toggle='tab' ng-click='showStatsPanel("stats-income")') Einkommen
      p

      .tab-content
        #stats-income.tab-pane.active(role='tabpanel')
          include reception-stats-income

        #stats-possessions.tap-pane(role='tabpanel')
          include reception-stats-possessions

