//
   Created by kc on 16.05.15.

h1 {{selectedTeam.data.name}}
  font#color-tag(color='{{getTeamColor(selectedTeam.uuid)}}') &#9608;&#9608;
button.finish-call-button(type="button" class="btn btn-default" ng-click="finishCall()") Anruf beenden

include reception-mc-m-buyproperty-modal

div(role='tabpanel')
  ul.nav.nav-tabs(role='tablist')
    li#tab-buy.active(role='presentation')
      a(href='#buy' aria-controls='buy' role='tab' data-toggle='tab' ng-click='showCallPanel("buy")') Kaufen
    li#tab-possessions(role='presentation')
      a(href='#possessions' aria-controls='possessions' role='tab' data-toggle='tab' ng-click='showCallPanel("possessions")') Besitz
    li#tab-log(role='presentation')
      a(href='#log' aria-controls='log' role='tab' data-toggle='tab' ng-click='showCallPanel("log")') Log
  p


  .tab-content
    .row
      #buy.tab-pane.active(role='tabpanel')
          include reception-mc-m-buyproperty

      #possessions.tap-pane(role='tabpanel')
          include reception-mc-m-properties
          include reception-mc-m-accountinfo

      #log.tap-pane(role='tabpanel')
          include reception-mc-m-log
