//
   Created by kc on 16.05.15.

h1 Anruf bearbeiten
h2 Bitte anrufendes Team auswählen

.row
  .col-md-3(ng-repeat='t in teams | orderBy:"data.name"')
    .panel.panel-default
      .panel-heading
        h3.panel-title {{t.data.name}}
          span#color-tag &#9608;&#9608;
      .panel-body
        p
          span(ng-show='t.data.organization')
            | {{t.data.organization}}
          span(ng-show='t.data.organization && t.data.teamLeader.name')
            | ,&nbsp;
          span(ng-show='t.data.teamLeader.name')
            | {{t.data.teamLeader.name}}
        details
          .team-leader-phone
            a(href='tel:{{t.data.teamLeader.phone}}') {{t.data.teamLeader.phone}}
          .team-leader-email
            a(href='mailto:{{t.data.teamLeader.email}}') {{t.data.teamLeader.email}}
          .team-leader-remarks {{t.data.remarks}}
          .team-members(ng-show='t.data.members')
            | Teammitglieder:
            .team-member(ng-repeat='m in t.data.members')
              .team-member-login {{m}}

        p
        button.btn.btn-primary(href='#' ng-click="preselectTeam(t)" data-toggle="modal" data-target="#confirmTeam" ng-show='isGameActive()') Anruf bearbeiten
        button.btn.btn-primary(href='#' ng-click="preselectTeam(t);confirmTeam(false)" ng-hide='isGameActive()') Team ansehen



