// Properties
.col-md-4
  .panel.panel-default
    .panel-heading
      h3.panel-title Reiselog
        i.fa.fa-refresh.refresh-button(ng-click='refreshProperties()')
    .panel-body
      #teams-travel-log
        table.table.table-hover
          thead
            th Zeit
            th Ort
          tbody
            tr(ng-repeat='p in teamInfo.travelLog | orderBy:"timestamp"')
              td {{p.timestamp | date:'dd.MM. HH:mm:ss'}}
              td
                a(href='#' ng-click='focusLogPosition(p)') {{getPropertyName(p)}}

.col-md-8(ng-show='mapApiLoaded()')
  .panel.panel-default
    .panel-heading
      h3.panel-title Standortverlauf
    .panel-body
      #map-log
      form.form-inline
        label.radio-inline
          input(type='radio' id='showFreeOption' ng-model='mapFilter' ng-change='filterChanged()' value='free' name='filter')
          | Freie Orte

        label.radio-inline
          input(type='radio' id='showTeamOption' ng-model='mapFilter' value='teamAccount' ng-change='filterChanged()'  name='filter')
          | Orte der Gruppe

        label.radio-inline
          input(type='radio' id='showAllOption' ng-model='mapFilter' value='all' ng-change='filterChanged()'  name='filter')
          | Alle
