//
   Created by kc on 17.05.15.

// Buy a place
.col-md-6
  .panel.panel-default
    .panel-heading
      h3.panel-title Liegenschaft kaufen
    .panel-body
      div(ng-hide='isGameActive()')
        p Ausserhalb der Spielzeit: es können keine Liegenschaften gekauft werden.
      div(ng-show='isGameActive()')
        input(type="text" placeholder="Zürich Paradeplatz" ng-model="propertyQuery" ng-change="runPropertyQuery()" maxlength="30")

        table.table.table-hover
          thead
            th Ort
            th Preis
            th
          tbody
            tr(ng-repeat='p in propertyQueryResult | orderBy:"location.name"')
              td {{p.location.name}}
              td {{p.pricelist.price | amount}}
              td
                button.btn.btn-default.btn-sm(type="button" data-toggle="modal" data-target="#confirmBuy" ng-click="setPropertyInvestCandidate(p)") kaufen

// Build Houses
.col-md-6
  .row
    .col-md-6
      .panel.panel-default
        .panel-heading
          h3.panel-title Häuserbau
        .panel-body
          button.btn.btn-default(type="button"  ng-click="buyHouses()" ng-disabled='!isGameActive()') Überall Häuser bauen
          p &nbsp;
          p
            a(href='#' ng-click='showCallPanel("possessions")' ng-disabled='!isGameActive()') Zur Besitzliste
            | &nbsp;um einzelne Häuser zu bauen

    .col-md-6
      .panel.panel-default
        .panel-heading
          h3.panel-title Gambling
        .panel-body
          input(type="number" inputmode="numeric" min=0 step=500 max=250000 ng-model="gambleAmount")
          p
          p
            button.btn.btn-success(type="button"  ng-click="gamble(1)" ng-disabled='!isGameActive()') Gewinn
            | &nbsp;&nbsp;
            button.btn.btn-warning(type="button"  ng-click="gamble(-1)" ng-disabled='!isGameActive()') Verlust

  .panel.panel-default
    .panel-heading
      h3.panel-title Anruf-Log
    .panel-body
      ul.log-ul
        li.list-group-item(ng-repeat='e in callLog | orderBy:"-ts"' class='{{e.class}}')
           .call-log-ts {{e.ts | date:'HH:mm:ss'}}&nbsp;
           .call-log-title {{e.title}}:&nbsp;
           .call-log-message {{e.message}}
