// Properties
.col-md-6
  .panel.panel-default
    .panel-heading
      h3.panel-title Liegenschaften
        i.fa.fa-refresh.refresh-button(ng-click='refreshProperties()')
    .panel-body
      table.table.table-hover
        thead
          th Ort
          th Pos.
          th Kaufpreis
          th Häuser
          th Hausbau
        tbody
          tr(ng-repeat='p in teamInfo.properties | orderBy:"location.name"')
            td {{p.location.name}}
            td {{p.pricelist.position + 1}}
            td {{p.pricelist.price | amount}}
            td {{p.gamedata.buildings}}
            td
              button.btn.btn-default.btn-xs(type='button' ng-show='p.gamedata.buildingEnabled' ng-click='buyHouse(p)') bauen
              span(ng-hide='p.gamedata.buildingEnabled') nicht möglich
