//
   Created by kc on 05.02.16.
.row
  .jumbotron
    h1 Hoppla...
    p Leider werden für das gewünschte Spiel keine Anmeldungen entgegen genommen. Falls Du denkst, dass dies ein Fehler ist, dann setze Dich bitte mit dem Organisator in Verbindung.
    a.btn.btn-primary.btn-large(href='/') Zurück zur Übersicht
