//
   Created by kc on 05.02.16.
.row
  .jumbotron
    h1 Hoppla...
    p Das gewünschte Spiel wurde nicht gefunden. Entweder existiert es nicht (mehr) oder Du hast dich vertippt. Bitte melde Dich beim Organisator für Details.
    a.btn.btn-primary.btn-large(href='/') Zurück zur Übersicht
