extends ../layout

block head
  script(src='/modules/moment/min/moment.min.js')
  script(src='/modules/moment/locale/de.js')
  script(src='/wiz-markdown/wizMarkdown.min.js')
  link(rel='stylesheet', href='/css/join.css',  type='text/css')
  script
    | var gameplay =
    != gameplay
    | ; var team =
    != team
    | ; var user =
    != user
    | ; console.log(gameplay);
  script(src=ngFile)

block content
  .container(ng-app='joinApp' ng-controller='joinCtrl')
    div(ng-cloak)
      div(ng-show='showGameNotFoundPanel()')
        include ./join-game-not-found
      div(ng-show='showJoiningNotAllowedPanel()')
        include ./join-not-possible
      div(ng-show='showJoiningPanel()')
        include ./join-game
