extends ../error/layout-error

block title
  | Ferropoly Anmeldung
block info
  | Schön, dass Du dich für dieses Ferropoly-Spiel interessierst! Um die Online-Anmeldung zu benutzen, benötigst Du ein Facebook oder Google Konto.
  p
    a(href='/login') Hier geht es zur Login-Seite

