//
   Created by kc on 31.05.15.
div(ng-controller='mapCtrl' ng-cloak)
  #map-load-error(ng-hide='mapApiLoaded()')
    .container-fluid
      .jumbotron
        h1 Karte
        p Leider gab es ein Problem beim Laden der Google-Maps API.

  #map-main(ng-show='mapApiLoaded()')
    .row
      .col-xs-md-8.col-md-8
         #map_canvas
      .col-xs-md-4.col-md-4
        div(role='tabpanel')
          ul.nav.nav-tabs(role='tablist')
            li#tab-maps-travellog.active(role='presentation')
              a(href='#' aria-controls='mapss-travellog' role='tab' data-toggle='tab' ng-click='showMapsPanel("maps-travellog")') Standorte
            //li#tab-maps-pricelist(role='presentation')
              a(href='#' aria-controls='map-pricelist' role='tab' data-toggle='tab' ng-click='showMapsPanel("maps-pricelist")') Preisliste
          p
        .tab-content
          #maps-travellog.tab-pane.active(role='tabpanel')
            include reception-map-travellog
          #maps-pricelist.tap-pane(role='tabpanel')
            include reception-map-pricelist
