//
   Created by kc on 09.01.16.

div(ng-controller='dashboardCtrl')
  .container-fluid
    h2 Dashboard

    .row
      .col-md-3.col-sm-4.col-xs-6
        .dashboard-tile.tile-asset
          p.dashboard-title Vermögen
          p.dashboard.value {{teamAccount.asset}}

      .col-md-3.col-sm-4.col-xs-6
        .dashboard-tile.tile-propertynb
          p.dashboard-title Anzahl Orte
          p.dashboard.value {{properties.length}}

      .col-md-3.col-sm-4.col-xs-6
        .dashboard-tile.tile-property-value
          p.dashboard-title Wert aller Orte
          p.dashboard.value {{propertyValue}}

      .col-md-3.col-sm-4.col-xs-6
        .dashboard-tile.tile-chancellery
          p.dashboard-title Parkplatz
          p.dashboard.value {{chancelleryAsset}}
    h3 Geolocalization
    p Diese App benötigt die GPS Daten der Spieler, wir müssen wissen, wo der Spieler ist. Das ist bisher nur experimentiell, wird jedoch später mit der dazugehörigen Datenschutzerklärung vollständig implementiert.
    p
    p Standort: {{position.coords.latitude}} / {{position.coords.longitude}}
