// The properties of a team
   Created by kc on 25.01.16.
div(ng-controller='propertiesCtrl')
  .row
    .col-md-12.col-sm-12.col-xs-12
      h1 Besitz
      p(ng-show='properties.length === 0') Bisher habt ihr noch keine Orte gekauft.
  .row
    div(ng-show='properties.length > 0')
      .col-md-12.col-sm-12.col-xs-12
        p Gekaufte Orte: {{properties.length}}
      .row
        .col-md-4.col-sm-12.col-xs-12(ng-repeat="p in properties | orderBy: 'location.name'")
          .card
            .card-header {{p.location.name}}
            .card-body
              p.card-text Kaufzeit: {{p.gamedata.boughtTs | date:'HH:mm'}}
              p.card-text Anzahl Häuser: {{p.gamedata.buildings}}
              p.card-text(ng-show='p.gamedata.buildings < 5') Hausbau möglich:&nbsp;
                span(ng-show='p.gamedata.buildingEnabled') Ja
                span(ng-show='!p.gamedata.buildingEnabled') Nein
              p.card-text(ng-show='p.gamedata.buildings > 4') Maximale Anzahl Häuser

