// The properties of a team
   Created by kc on 25.01.16.
div(ng-controller='propertiesCtrl')
  h1 Besitz
  p(ng-show='properties.length === 0') Bisher habt ihr noch keine Orte gekauft.

  div(ng-show='properties.length > 0')
    p Gekaufte Orte: {{properties.length}}
    div(ng-repeat="p in properties | orderBy: 'gamedata.boughtTs'")
      h3 {{p.location.name}}
      p Kaufzeit: {{p.gamedata.boughtTs | date:'HH:mm'}}
      p Anzahl Häuser: {{p.gamedata.buildings}}

