//
   Created by kc on 09.01.16.

div(ng-controller='dashboardCtrl')
  .container-fluid
    h2 {{team.data.name}}

    .row
      .col-md-4.col-sm-4.col-xs-12
        .card
          .card-body
            h5.card-title Vermögen
            p.card-text {{teamAccount.asset | amount}}

        .card
          .card-body
            h5.card-title Anzahl Orte
            p.card-text {{properties.length}}

        .card
          .card-body
            h5.card-title Parkplatz
            p.card-text {{chancelleryAsset | amount}}
    .row
      .col-md-12
        h3 Live-Ticker
        table.table.table-condensed.table-striped
          tr(ng-repeat="t in liveTicker | orderBy: 'ts' :true | limitTo: 10")
            td {{t.ts | date:'HH:mm:ss'}}
            td {{t.message}}
