//
   Created by kc on 09.01.16.

div(ng-controller='dashboardCtrl')
  .container-fluid
    h2 {{team.data.name}}

    .row
      .col-md-12.col-sm-12.col-xs-12
        .shadow.p-3.mb-5.bg-white.rounded
          .row
            .col-7.col-sm-7.col-md-7
              .checkin-info Vermögen
            .col-5.col-sm-5.col-md-5
              .checkin-amount {{teamAccount.asset | amount}}
          .row
            .col-7.col-sm-7.col-md-7
              .checkin-info Orte
            .col-5.col-sm-5.col-md-5
              .checkin-amount {{properties.length}}
          .row
            .col-7.col-sm-7.col-md-7
              .checkin-info Parkplatz
            .col-5.col-sm-5.col-md-5
              .checkin-amount {{chancelleryAsset | amount}}
    .row
      .col-md-12
        h3 Live-Ticker
        table.table.table-condensed.table-striped
          tr(ng-repeat="t in liveTicker | orderBy: 'ts' :true | limitTo: 10")
            td {{t.ts | date:'HH:mm:ss'}}
            td {{t.message}}
