// The pricelist
   Created by kc on 27.01.16.

h1 Preisliste
div(ng-controller='pricelistCtrl')
  table.table.table-striped
    thead
      tr
        th #
        th Ort
        th Gruppe
        th Preis
    tbody
      tr(ng-repeat='p in pricelist')
        td {{p.pricelist.position + 1}}
          i.fa.fa-flag(ng-show='p.gamedata.owner') &nbsp;
        td {{p.location.name}} &nbsp;
          span(ng-show='p.gamedata.buildings > 0')
            i.fa.fa-star
          span(ng-show='p.gamedata.buildings > 1')
            i.fa.fa-star
          span(ng-show='p.gamedata.buildings > 2')
            i.fa.fa-star
          span(ng-show='p.gamedata.buildings > 3')
            i.fa.fa-star
          span(ng-show='p.gamedata.buildings > 4')
            i.fa.fa-star
          span(ng-show='p.gamedata.buildingEnabled')
            i.fa.fa-star-half-o
        td {{p.pricelist.propertyGroup}}
        td {{p.pricelist.price}}
