// This is the Ferropoly style sheet, applicable for all Apps
// 26.4.2021 KC

$enable-rounded: false;
$enable-shadows: true;

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
body {
  // background-color: pink;
  font-family: 'Roboto', sans-serif;
}

.bg-dark {
  background-color: #000000 !important;
}


