extends ../layout

block head
  script
    | var gameId = '#{gameId}';
    | var teams =
    != teams
    | ;
    | var gp =
    != gameplay
    | ;
    | var pl =
    != pricelist
    | ;
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyClFIdi03YvYPvLikNwLSZ748yw1tfDVXU')
  script(src='/wiz-markdown/wizMarkdown.min.js')
  script(src=ngFile)
  link(rel='stylesheet', href='/css/rules.css')
  link(rel='stylesheet', href='/css/index.css',  type='text/css')
  link(rel='stylesheet', href='/css/info.css', type='text/css')

block navbar
    li
      a(href='#info' onclick="showPanel('#p1');") Info
    li
      a(href='#list' onclick="showPanel('#p2');") Preisliste
    li
      a(href='#map' onclick="showPanel('#p3');") Karte
    li
      a(href='#map' onclick="showPanel('#p4');") Spielregeln

block content
  .container-fluid
      div(ng-app='infoApp' ng-controller='infoCtrl')
        #ps
          include ./info-loading
        #p0(ng-cloak)
          include ./info-error
        #p1(ng-cloak)
          include ./info-main
        #p2(ng-cloak)
          include ./info-list
        #p3(ng-cloak)
          include ./info-map
        #p4(ng-cloak)
          include ./info-rules-modal-changes
          include ./info-rules
        script
          | console.log(gp);


