// Modal for rule changes
   Created by kc on 22.05.16.

#modal-rule-changes.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-rule-changes')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#modal-save-label.modal-title Änderungs-Log Spielregeln
      .modal-body
        p Dies sind die vom Organisator zur Verfügung gestellten Kommentare für die einzelnen Versionen der Spielregeln:
        table.table.table-striped.table-bordered
          thead
            td #
            td Datum
            td Änderungen
          tr(ng-repeat='c in changelog')
            td {{c.version}}
            td {{c.ts | date:'dd.MM.yy HH:mm:ss'}}
            td {{c.changes}}


      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Fenster schliessen
