//
   Created by kc on 03.05.16.

.row
  .col-md-12
    #rules(ng-hide='version < 0')
      #version Version {{version}} vom {{date | date:'dd.MM.yy HH:mm'}}
        a.btn.btn-primary.btn-xs.no-print(href='#' data-toggle="modal" data-target="#modal-rule-changes") Änderungs-Log
      wiz-markdown(content='rules')
    #no-rules(ng-show='version < 0')
      .jumbotron
        h1 Noch etwas zu früh...
        p Das Spiel ist zwar bereits ausgeschrieben, die Spielregeln sind jedoch noch nicht bereit.
        p Komm doch bitte später wieder vorbei!
