//
   Created by kc on 09.05.15.

.container-fluid
  .row
    .col-md-1
    .col-md-10
      .jumbotron
        h1 Houston, we have a problem!
        p Das gewünschte Spiel konnte leider nicht gefunden werden. Möglicherweise hast Du dich vertippt oder der Spielleiter hat das Spiel bereits gelöscht.
    .col-md-1
