h1 Spielzusammenfassung "{{info.gameplay.gamename}}"
.row
  .col-sm-12.col-md-6
    p Das Ferropoly fand am {{info.gameplay.scheduling.gameDate | date:'dd.MM.yyyy'}} mit {{info.rankingList.length}} teilnehmenden Teams statt.
      | Von den {{info.pricelist.length}} Orten auf der Preisliste wurden {{propertiesBought}} Orte gekauft, {{info.pricelist.length - propertiesBought}} waren bei Spielende noch zu haben.
      | Insgesamt wurden {{housesBuilt}} Häuser gebaut, pro verkauftem Grundstück sind dies im Schnitt {{housesBuilt / propertiesBought | number:'2'}}.
      | Die Bank registrierte {{info.teamTransactions.length}} Buchungen für die Teams und weitere {{info.chancellery.length}} Buchungen für Chance-Kanzlei.
    p Auf dieser Seite findest Du einen Rückblick auf dieses Spiel, dieser bleibt bis am {{info.gameplay.scheduling.deleteTs | date:'dd.MM.yyyy'}} verfügbar, dann werden sämtliche Daten zu diesem Spiel automatisch gelöscht.
  .col-sm-12.col-md-6
    .panel.panel-default
      .panel-heading
        h3.panel-title Rangliste
      .panel-body
        table.table(ng-cloak)
          thead
            tr
              th Rang
              th Team
              th.amount Vermögen
              th Orte
              th Häuser
          tbody
            tr(ng-repeat='t in info.rankingList | orderBy:"rank"')
              td {{$index + 1}}
              td
                a(href='#' ng-click='showTeam(t.team)') {{t.team.name}}
              td.amount {{t.asset | amount}}
              td {{t.team.gamedata.properties.length}}
              td {{t.team.gamedata.buildings}}

    p Hat Dir das Spiel gefallen? Dann würde ich mich sehr darüber freuen, wenn Du es Deinen Freunden weiter empfehlen würdest!
