//
   Created by kc on 27.04.16.

extends ../layout

block head
  script
    | var info =
    != info
    | ;
  script(src=ngFile)
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyClFIdi03YvYPvLikNwLSZ748yw1tfDVXU&callback=initMap')
  link(rel='stylesheet', href='/css/summary.css',  type='text/css')

block navbar
  li
    a(href='#' onclick="showPanel('#panel-main');") Übersicht
  li
    a(href='#' onclick="showPanel('#panel-chancellery');") Chance/Kanzlei

block content
  .container-fluid(ng-app='summaryApp' ng-controller='summaryCtrl')
    div.ng-cloak(ng-show='info.error')
      include summary-error
    div.ng-cloak(ng-hide='info.error')
      #panel-main
        include summary-overview
      #panel-team
        include summary-team
      #panel-chancellery
        include summary-chancellery
