//
   Created by kc on 28.04.16.

.row
  .col-sm-12.col-md-6
    .panel.panel-default
      .panel-heading
        h3.panel-title Orte
      .panel-body
        table.table(ng-cloak)
          thead
            tr
              th Ort
              th Kaufzeit
              th Häuser
          tbody
            tr(ng-repeat='t in teamProperties | orderBy:"gamedata.boughtTs"')
              td {{t.location.name}}
              td {{t.gamedata.boughtTs | date:'HH:mm'}}
              td {{t.gamedata.buildings}}
