//
   Created by kc on 15.06.15.
div(ng-controller='propertiesCtrl' ng-cloak)
  .col-md-6
    #property-list
      table.tab.e.table-striped.table-condensed
        thead
          th
            a(href='' ng-click="listPredicate='pricelist.position';reverse=!reverse") #
          th
            a(href='' ng-click="listPredicate='location.name';reverse=!reverse") Ort
          th.pricelist Gruppe
          th.pricelist Kaufpreis
          th.pricelist
            a(href='' ng-click="listPredicate='gamedata.owner';reverse=!reverse") Besitzer
          th.pricelist
            a(href='' ng-click="listPredicate='gamedata.buildings';reverse=!reverse") Anzahl H채user
        tbody
          tr(data-ng-repeat='p in properties | orderBy:listPredicate:reverse' )
            td {{p.pricelist.position + 1}}
            td
              a(href='' ng-click='setCurrentProperty(p)') {{p.location.name}}
            td.pricelist {{p.pricelist.propertyGroup}}
            td.pricelist {{p.pricelist.price | amount}}
            td.pricelist {{getTeamName(p.gamedata.owner)}}
            td.pricelist 
              span(ng-show='p.gamedata.buildings > 0')
                i.fa.fa-star
              span(ng-show='p.gamedata.buildings > 1')
                i.fa.fa-star
              span(ng-show='p.gamedata.buildings > 2')
                i.fa.fa-star
              span(ng-show='p.gamedata.buildings > 3')
                i.fa.fa-star
              span(ng-show='p.gamedata.buildings > 4')
                i.fa.fa-star
              span(ng-show='p.gamedata.buildingEnabled && p.gamedata.buildings < 5')
                i.fa.fa-star-o
  .col-md-6
    .panel.panel-default
      .panel-heading
        h3.panel-title {{currentProperty.location.name}}
      .panel-body
        h4 Allgemeines
        table.table.table-condensed
          tr
            th Erreichbarkeit
            td {{currentProperty.location.accessibility}}
            th Miete unbebaut
            td {{currentProperty.pricelist.rents.noHouse | amount}}
          tr
            th Position in Preisliste
            td {{currentProperty.pricelist.position}}
            th Miete 1 Haus
            td {{currentProperty.pricelist.rents.oneHouse | amount}}
          tr
            th Preisgruppe
            td {{currentProperty.pricelist.propertyGroup}}
            th Miete 2 H채user
            td {{currentProperty.pricelist.rents.twoHouses | amount}}
          tr
            th Kaufpreis
            td {{currentProperty.pricelist.price | amount}}
            th Miete 3 H채user
            td {{currentProperty.pricelist.rents.threeHouses | amount}}
          tr
            th Preis pro Haus
            td {{currentProperty.pricelist.pricePerHouse | amount}}
            th Miete 4 H채user
            td {{currentProperty.pricelist.rents.fourHouses | amount}}
          tr
            th
            td
            th Miete Hotel
            td {{currentProperty.pricelist.rents.hotel | amount}}
        div(ng-show='currentProperty.gamedata.owner')
          h4 Besucher
          table.table.table-condensed
            tr
              tr(data-ng-repeat='t in travelLog' )
                td {{t.timestamp | date:'dd.MM. HH:mm:ss'}}
                td {{getTeamName(t.teamId)}}
