// team account information
   Created by kc on 14.05.15.

div#team-accounts-ctrl(ng-controller='teamAccountsCtrl' ng-cloak)
  h1 Kontobücher Teams
    a.fa.fa-download.button-right-0.download-accountinfo(href='/download/teamAccount/{{downloadUrl()}}')
  ul.nav.nav-tabs
    li#account-undefined.active(role='presentation' ng-click='setTeam()')
      a(href='#' role='presentation') Alle
    li(role='presentation' ng-repeat='t in teams | orderBy:"data.name"' id='account-{{t.uuid}}')
      a(href='#' role='presentation' ng-click='setTeam(t.uuid)') {{t.data.name}}

  table.table.table-hover.table-condensed
    thead
      th
      th Zeit
      th Team
      th Buchungstext
      th Betrag
      th Saldo
      th Teiltransaktionen
    tbody
      tr(ng-repeat='e in entries | filter: accountFilter | orderBy:"timestamp"')
        td {{$index + 1}}
        td {{e.timestamp | date:'HH:mm:ss'}}
        td {{teamNames[e.teamId]}}
        td {{getTransactionInfoText(e)}}
        td {{e.transaction.amount}}
        td {{e.balance}}
        td
          div(ng-show='e.transaction.parts.length > 0')
            ul
              li(ng-repeat='d in e.transaction.parts') {{d.propertyName}} : {{d.amount}}

