/* Ferropoly master CSS
*/
html,
body {
    font-size   : 14px;
    font-family : 'Open Sans', sans-serif;
    width       : 100%;
    height      : 100%;
}

a {
    color : #00B7FF;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display : none !important;
}

.navbar-inverse {
    border-radius : 0px;
}


/* General wells for status information, to be used everywhere in the editor */
.well-ok {
    background-color : #adeaa9;
    background-image : none;
}

.well-error {
    background-color : #ffa4a5;
    background-image : none;
}

.well-info {
    background-color : #a4d3fd;
    background-image : none;
}

.well-attention {
    background-color : #dbad3e;
    background-image : none;
}
