
#gameplay-list {
    overflow : scroll;
    height   : 200px;
}

.separator {
    margin-right : 10px;
}

.btn-gameplay {
    margin-top   : 8px;
    margin-right : 8px;
}

.gameplay-id {
    color     : rgba(115, 115, 115, 0.73);
    font-size : x-small;
}

#info-header {
    height              : 180px;
    min-height          : 180px;
    position            : relative;
    overflow            : hidden;
    background-position : center;
    background-size     : cover;
    width               : 100%;
}

#ferropoly-navbar {
    margin : inherit;
}

#info-welcome {
    position         : absolute;
    bottom           : 0;
    left             : 0;
    right            : 0;
    background-color : rgba(0, 0, 0, .4);
}

h1.info-header {
    margin-top    : 10px;
    margin-left   : 20px;
    margin-bottom : 20px;
    color         : white;
}

.btn {
    margin-right  : 5px;
    margin-bottom : 5px;
}
