
#infotext {
    background-color : transparent;
    padding-left     : 3px;
    padding-top      : 3px;
    padding-bottom   : 3px;
}

h4.join {
    border-bottom: #ccc;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom-width: thin;
    border-bottom-style: solid;
}
