body {
    /* background-image: url("/images/ferropoly_background01.jpg");*/
    background-clip : border-box;
    background-size : cover;
}

.bg1 {
    background-image : url("/images/ferropoly_background01.jpg");
}

body.bg2 {
    background-image : url("/images/ferropoly_background02.jpg");
}

.bg3 {
    background-image : url("/images/ferropoly_background03.jpg");
}

.bg4 {
    background-image : url("/images/ferropoly_background04.jpg");
}

.bg5 {
    background-image : url("/images/ferropoly_background05.jpg");
}

.bg6 {
    background-image : url("/images/ferropoly_background06.jpg");
}

.bg7 {
    background-image : url("/images/ferropoly_background07.jpg");
}

.bg8 {
    background-image : url("/images/ferropoly_background08.jpg");
}

.login-box {
    max-width : 330px;
}

.signup-box {
    max-width : 600px;
}

.agb-box {
    max-width : 80%;
    overflow  : auto;

}

.agb-contents {
    height         : inherit;
    margin-bottom  : 10px;
    padding-bottom : 20px;
}

.ls-box-shape {
    padding          : 15px;
    margin           : 0 auto;
    background-color : rgba(255, 255, 255, 0.8);
    border-radius    : 5px;
}
