#online {
    color   : #639a00;
    display : none;
}

#offline {
    color : red;
}

#active-call {
    display: none;
    font-weight: bold;
}

.call-log-title {
  font-weight: bold;
    display: inline-block;
}

.call-log-message {
    display: inline-block;
}

.call-log-ts {
    display: inline-block;
}
