extends layout-error

block title
  | 401 - Unauthorized
block info
  | Für die gewünschte Seite reichen die Zugriffsrechte nicht. Bist Du eingeloggt?
  p
    a(href='/login') Hier geht es zur Login-Seite

