extends layout-error

block title
  | 401 - Unauthorized
block info
  | Für die gewünschte Seite reichen die Zugriffsrechte nicht. Bitte logge Dich ein und versuche es nochmals, Danke!
  p
    a(href='/login') Hier geht es zur Login-Seite

