extends layout-error

block title
  | Anmeldung erforderlich
block info
  | Bitte logge Dich mit Deinem Google- oder Facebook-Account ein um die gewünschte Seite zu sehen, Danke!
  p
    a(href='/login') Hier geht es zur Login-Seite

